<%- contentFor('content') %>

<div class="container"><br><br><br>
  <div class="row">
    <div class="col-md-6">
      <a href="/signup" class="btn btn-lg btn-success btn-block"><br><strong>Job Seeker Signup</strong><br><i>I'm interested in new job opportunities<br></i><br></a><br>
    </div>
    <div class="col-md-6">
      <a href="/signup-recruiter" class="btn btn-lg btn-success btn-block"><br><strong>Recruiter and Hiring Manager Signup</strong><br><i>I'm looking for someone to hire<br></i><br></a><br>
    </div>
  </div>
</div>
