<%- contentFor('content') %>

<% include recruiter-nav %>

<style>
.list-group{
	width: 100%
}
</style>
<div class="row"><br>
<div class="col-md-3">
<% include ../select-job %><br>
</div>
<div class="col-md-12">
<% include ../messages.ejs %>
</div>
