<%- contentFor('content') %>

<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide" style="height:480px">
    <!-- Indicators -->
    <ol class="carousel-indicators" >
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <!-- li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li-->
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active" style="align-top:10px">
            <!--div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div-->
            <div class="fill" style="background-image:url('https://rm1-2.herokuapp.com/microscope.jpg');"></div>

            <!--background-image:url('http://cache3.asset-cache.net/xd/452057827.jpg?v=1&c=IWSAsset&k=2&d=0097B5F91B4CA49642474E826FF84AD273E7DAAD5CA53869B037306F665D83FA1FA1AA111EF95673');-->

            <div class="carousel-caption">
                <h2 style="text-shadow:0px 0px 5px white; color:#000033">For medical device and pharmaceutical industry professionals.</h2>
            </div>
        </div>
        <!--div class="item">
        <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
        <div class="carousel-caption">
        <h2>Caption 2</h2>
    </div>
</div>
<div class="item">
<div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
<div class="carousel-caption">
<h2>Caption 3</h2>
</div>
</div-->
</div>

<!-- Controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
</a>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to Recruit Me
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-user"></i>Job Seekers </h4>
                </div>
                <div class="panel-body">
                    <p>Looking for your next job? Don't want to spend hours or days on a job hunt?<br><br>Signup, answer questions about your job needs and let recruiters and hiring managers contact you!</p>
                    <a href="/signup-select" class="btn btn-default">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-eye"></i>Job Seeker Privacy</h4>
                </div>
                <div class="panel-body">
                    <p>Concerned your current employer might find out you are looking around?<br><br>Use our privacy settings to block users from viewing your profile. 
                    </p>
                    <a href="/signup-select" class="btn btn-default">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i>Recruiters and Hiring Managers</h4>
                </div>
                <div class="panel-body">
                    <p>Want to be more effective at finding the right candidates?<br><br>Get in touch better fitting and motivated candidates in less time!</p>
                    <a href="/signup-select" class="btn btn-default">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <!--div class="row">
    <div class="col-lg-12">
    <h2 class="page-header">Portfolio Heading</h2>
</div>
<div class="col-md-4 col-sm-6">
<a href="portfolio-item.html">
<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
</a>
</div>
<div class="col-md-4 col-sm-6">
<a href="portfolio-item.html">
<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
</a>
</div>
<div class="col-md-4 col-sm-6">
<a href="portfolio-item.html">
<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
</a>
</div>
<div class="col-md-4 col-sm-6">
<a href="portfolio-item.html">
<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
</a>
</div>
<div class="col-md-4 col-sm-6">
<a href="portfolio-item.html">
<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
</a>
</div>
<div class="col-md-4 col-sm-6">
<a href="portfolio-item.html">
<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
</a>
</div>
</div -->
<!-- /.row -->

<!-- Features Section -->
<!-- div class="row">
<div class="col-lg-12">
<h2 class="page-header">Modern Business Features</h2>
</div>
<div class="col-md-6">
<p>The Modern Business template by Start Bootstrap includes:</p>
<ul>
<li><strong>Bootstrap v3.3.7</strong>
</li>
<li>jQuery v1.11.1</li>
<li>Font Awesome v4.2.0</li>
<li>Working PHP contact form with validation</li>
<li>Unstyled page elements for easy customization</li>
<li>17 HTML pages</li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
</div>
<div class="col-md-6">
<img class="img-responsive" src="http://placehold.it/700x450" alt="">
</div>
</div -->
<!-- /.row -->

<!-- Call to Action Section -->
<!-- div class="well">
<div class="row">
<div class="col-md-8">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
</div>
<div class="col-md-4">
<a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
</div>
</div>
</div -->

<!-- hr -->

</div>
